.add_new_btn {
  font-size: 0.85rem;
  border-radius: 0.35rem;
  padding: 0.5rem 0.85rem;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  background: rgb(132 90 223 / 28%);
  text-decoration: none;
}

.add_new_btn span {
  margin-left: 10px;
}
.add_new_btn:hover {
  background-color: rgb(130 87 225);
  color: #fff;
  border-color: 132, 90, 223;
}
