.list_for_recent_post {
  list-style-type: none;
  border-bottom: 1px solid #eee;
  margin: 0 0 8px !important;
  display: flex;
  align-items: start;
  padding-bottom: 8px;
}

.list_for_recent_post img {
  border: 1px solid #eee !important;
  box-shadow: none !important;
  margin: 2px 10px 2px 0 !important;
  padding: 3px !important;
}
.recent_post_title_wrapper {
  font-family: "Poppins", sans-serif;
  background: none !important;
  clear: none;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  font-weight: 400;
  font-size: 12px !important;
  line-height: 1.5em;
}
.recent_post_title_wrapper a {
  text-decoration: none;
  color: #1790d0;
}
time {
  color: #bbb;
  font-size: 11px;
}
