.microInsider_wrapper,
.insiderSubPageWrapper {
  padding: 50px 0px;
  margin: 0px 15px;
}

.row_margin {
  margin-bottom: 40px;
}

.right_side_aside h3 {
  font-size: 18px;
  line-height: 22px;
}


.layout01 {
  position: absolute;
  height: 100%;
  background-color: #333333;
  width: 100%;
  opacity: 0.9;
  z-index: 1;
  overflow: hidden;
}

.imagepopup {
  position: fixed;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 9;
}

.layout_column {
  display: flex;
  justify-content: center;
}

.btns_ctrl {
  display: flex;
  justify-content: center;
  align-items: center;
}
.controls {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: none;
  margin: -5px;
  /* z-index: -1; */
  border: 2px solid white;
  background: black;
  color: white;
}


.cancel {
  text-align: end;
  padding: 0 25px;
}


.cancel_btn {
  background: border-box;
  color: white;
  border: none;
}

.cancel_btn:hover {
  color: red !important;
  transform: rotate(deg);
}