section.ProductDetail {
  padding-right: 30px;
}

.deail--product--desc .title--clas {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
}
.deail--product--desc .title--clas::after {
  content: "";
  display: block;
  width: 20%;
  height: 0;
  border-width: 0 0 1px;
  border-style: solid;
  position: absolute;
  left: 0;
  bottom: 0;
  border-color: rgba(0, 0, 0, 0.08);
}

.deail--product--desc p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 20px;
  text-align: justify;
}

/*  */

.product--add--cart .quanitiy--detail {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #cdcdcd;
  display: flex;
  align-items: center;
}

.product--add--cart .quanitiy--detail input {
  outline: none;
  border: none;
  box-shadow: none;
  width: 70px;
  text-align: center;
  height: 40px;
  color: #777777;
  font-weight: 700;
}

.product--add--cart .quanitiy--detail input:focus {
  outline: none;
  border: none;
}
.quanitiy--detail span {
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0;
  font-size: 20px;
  display: block;
  cursor: pointer;
  padding: 6px 15px;
}

.product--add--cart .quanity-btn .add--to--cart {
  border-radius: 3px;
  padding: 10px 20px;
  font-weight: 400;
  line-height: 24px;
  overflow: hidden;
  background-color: #2754a4 !important;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  margin-left: 20px;
}
.product--add--cart .quanity-btn .add--to--cart {
  position: relative;
}
.product--add--cart .quanity-btn .add--to--cart::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: rgba(0, 0, 0, 0.13);
  z-index: 1;
  transition: width 0.2s ease-in-out;
}
.product--add--cart .quanity-btn .add--to--cart:hover::after {
  width: 100%;
}
.quanity-btn .add--to--cart .btn--icon {
  margin-left: 15px;
}

.quanity-btn .loader {
  width: 25px;
  height: 25px;
  position: relative;
  display: inline-block;
  --base-color: #2754a4;
  top: 0;
  left: 10px;
}

.quanity-btn .loader::after {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  background-image: radial-gradient(
      circle 5px at 12px 12px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 12px 0px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 0px 12px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 24px 12px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 12px 24px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 20px 3px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 20px 3px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 20px 20px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 3px 20px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 3px 3px,
      var(--base-color) 100%,
      transparent 0
    );
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 4s linear infinite reverse;
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/*  SINGL DEAIL  */
.discription--tabs--product--detail button,
.sss--gr--single--deail button {
  color: #444444;
  padding: 0;
  font-size: 15px;
  font-weight: 600;
  position: relative;
  border: 0;
  cursor: pointer;
  background: #f9f9f9;
  box-shadow: inset 0px 4px 3px -2px rgba(0, 0, 0, 0.04);
}
.discription--tabs--product--detail button {
  padding: 15px 20px;
}
.sss--gr--single--deail button:focus {
  box-shadow: none;
}
.sss--gr--single--deail .accordion-button:not(.collapsed) {
  background: #f9f9f9;
  color: #1790d0;
}

.sss--gr--single--deail .accordion-header {
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.sss--gr--single--deail .accordion-button::after {
  display: none;
}
.sss--gr--single--deail .accordion-button:not(.collapsed)::before {
  content: "\2212";
  font-size: 18px;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  display: block;
  padding: 15px 20px;
  margin-right: 15px;
}
.sss--gr--single--deail .accordion-button::before {
  content: "\002B";
  font-size: 18px;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  display: block;
  padding: 15px 20px;
  margin-right: 15px;
}
.deail--product--desc .single--product--detail--tabs {
  margin-top: 30px;
}
.single--product--detail--tabs .accordion-item {
  border: none;
}
