.DownloadAbleMaterialCart {
  width: 19%;
  /* border-left: 0.5px solid #e2e0e0; */
  padding: 2rem 1rem;
  /* border-bottom: 0.5px solid #e2e0e0; */
  border: 0.5px solid #e2e0e0;
  margin-right: 1%;
  margin-bottom: 1%;
}

/* .DownloadAbleMaterialCart:last-child,
.DownloadAbleMaterialCart:nth-child(5),
.DownloadAbleMaterialCart:nth-child(10),
.DownloadAbleMaterialCart:nth-child(15),
.DownloadAbleMaterialCart:nth-child(20) {
  border-right: 0.5px solid #e2e0e0;
} */
.DownloadAbleMaterialCart a {
  text-decoration: none;
}
.DownloadAbleMaterialCart .image_wrapper {
  background: #2754a4;
  border-radius: 1000px;
  width: 82px;
  height: 82px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  transition: 0.3s ease-in-out;
}

.DownloadAbleMaterialCart .desc_wrapper .title {
  font-size: 18px;
  line-height: normal;
  font-weight: 300;
  letter-spacing: 0px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  margin-bottom: 0;
  padding-top: 10px;
}

@media screen and (max-width: 1430px) {
  .DownloadAbleMaterialCart {
    width: 24%;
  }
}

@media screen and (max-width: 992px) {
  .DownloadAbleMaterialCart {
    width: 32%;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .DownloadAbleMaterialCart .desc_wrapper .title {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .DownloadAbleMaterialCart {
    width: 49%;
  }
  .DownloadAbleMaterialCart {
    padding: 1rem 0.8rem;
  }
  .DownloadAbleMaterialCart .image_wrapper {
    width: 70px;
    height: 70px;
  }
}
@media screen and (max-width: 400px) {
  .DownloadAbleMaterialCart {
    width: 100%;
    margin-bottom: 10px;
  }
}
